* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: monospace;
    letter-spacing: 0px;
    box-sizing: border-box;
    font-size: 16px;
}

/* blue black --> #212529*, brown black --> #292524 */
:root {
    --transition: 0.3s ease;
    --dark: #292524;
    --black: #212529;
    --silver: #aaa;
    --white: #f9f9f9;
    --light: #f8f9fa;
    --gray: #6c757d;
    --light-gray: #e9ecef;
    --shade-light: rgb(0, 0, 0, .1);
    --shade-dark: rgb(0, 0, 0, .3);
    --heading: clamp(2rem, 5vw, 4rem);
    --sub-heading: clamp(1.25rem, 3vw, 2.25rem);
    --para: clamp(1rem, 2.5vw, 1.125rem);
    --layer_super_bottom: -5;
    --layer_bottom: -1;
    --layer_middle: 0;
    --layer_top: 1;
    --layer_super_top: 5;
    --border: 2px solid var(--black);
    --hover-border: 2px solid var(--shade-dark);
    --border-thick: 1px solid var(--black);
    --hover-border-thick: 1px solid var(--shade-dark);
    --hover-shadow: 4px 4px 0px var(--black);
    --radius: 5px;
}

::selection {
    background: var(--black);
    color: #aaa;
}

html,
body {
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    cursor: url('../GhostGlow.cur'), auto !important;
}

a,
button,
[role="button"],
.clickable,
input,
select,
textarea {
    cursor: url('../GhostGlow-link.cur'), auto !important;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    z-index: var(--layer_middle);
    pointer-events: auto;
}

a {
    text-decoration: none;
}

.sign-up {
    display: inline-block;
    border: var(--border);
    background: var(--black);
    color: var(--white);
    padding: 5px 10px;
    font-weight: 700;
    text-transform: uppercase;
    transition: var(--transition);
    margin-top: 20px;
    pointer-events: auto;
}

.sign-up:hover {
    background: var(--white);
    color: var(--black);
    transform: translateY(-5px);
    box-shadow: var(--hover-shadow);
    cursor: url('../GhostGlow-link.cur'), auto !important;
    transition: var(--transition);
}

.sign-up:active {
    transform: translateY(0);
    box-shadow: none;
}

/*Navbar*/
.navbar {
    backdrop-filter: blur(10px);
    background-color: var(--shade-light);
    z-index: var(--layer_top);
    color: var(--black);
}

.navbar-brand img {
    width: 140px;
    height: auto;
}

.navbar-brand:hover {
    transform: scale(1.1);
    transition: var(--transition);
    cursor: url('../GhostGlow-link.cur'), auto !important;
}

.navbar-toggler {
    color: var(--black);
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler i {
    font-size: 35px;
}

.navbar-nav {
    align-items: center;
    gap: 10px;
}

.nav-link {
    color: var(--black);
    transition: color 0.3s, .3s ease-in;
    padding: 5px 10px;
    font-family: 'IBM Plex Mono';
    font-weight: 700;
}

.nav-link:hover,
.nav-link.active {
    background: var(--shade-light);
    border-radius: var(--radius);
    cursor: url('../GhostGlow-link.cur'), auto !important;
}

.navbar-collapse {
    text-align: center;
}

/*Carousel*/
.carousel {
    z-index: var(--layer_middle);
    min-height: 670px;
    background: transparent;
    pointer-events: none;
    margin-top: 78px;
}

.carousel .quote-box {
    position: absolute;
    top: 1px;
    left: 50%;
    transform: translate(-50%);
    padding: 4px 6px;
    border-radius: var(--radius);
    background: rgba(0, 0, 0, 0.5);
    color: var(--white);
    width: 100%;
    text-align: center;
}

#heroCarousel .carousel-inner,
#heroCarousel .carousel-item {
    background: transparent;
    min-height: 670px;
}

.carousel-caption {
    position: absolute;
    background-color: var(--white);
    color: var(--black);
    padding: 24px;
    border-radius: var(--radius);
    border: var(--border-thick);
    left: 25%;
    right: 25%;
    bottom: 15% !important;
    pointer-events: auto;
}

.carousel-caption h1 {
    text-shadow: 3px 3px 2px var(--silver);
    font-size: var(--heading);
    margin-bottom: 35px;
    font-weight: 800;
    font-family: 'IBM Plex Mono';
}

.carousel-caption p {
    font-size: var(--para);
    margin-bottom: 30px;
}

.carousel-indicators [data-bs-target] {
    background-color: var(--white);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: var(--border);
    pointer-events: auto;
}

.carousel-indicators .active {
    background-color: var(--black);
}

/*Sections*/
section {
    margin: 100px 0;
    padding: 100px 0px !important;
    pointer-events: none;
    color: var(--black);
}

section.features,
section.instructors,
section.contact {
    backdrop-filter: blur(3px);
    background-color: var(--shade-light);
}

.section-heading {
    font-size: var(--heading);
    font-weight: 800;
    letter-spacing: -1px;
    font-family: 'IBM Plex Mono';
}

.section-intro {
    font-size: var(--para);
}

/*features*/
.features .card {
    background: var(--white);
    color: var(--black);
    border: var(--hover-border-thick);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    align-items: center;
    pointer-events: auto;
    min-height: 242px;
    transition: var(--transition);
}

.features .card:hover {
    border: var(--border-thick);
    cursor: url('../GhostGlow-link.cur'), auto !important;
}

.features .mb-4 {
    max-width: 330px !important;
}

.features .card-body {
    padding-top: 0px !important;
}

.features .card-title {
    font-size: 1.3rem;
    font-weight: bold;
    border-bottom: var(--border-thick);
    margin-bottom: 10px;
}

.features .card img {
    width: 55px;
    height: auto;
    padding: 10px 0px;
}

.features .about-us {
    padding: 60px 0 0 0;
}

.features .about-us .heading h2,
.instructors .heading h2 {
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    font-weight: bold;
    font-family: 'IBM Plex Mono';
    border-bottom: var(--border-thick);
    margin-bottom: 16px;
    padding-bottom: 10px;
}

.features .about-us .heading p,
.instructors .heading p {
    font-size: clamp(1rem, 1.2vw, 1.2rem);
}

.features .accordion-item {
    margin-bottom: 18px;
    border: var(--border-thick);
    box-shadow: var(--hover-shadow);
    color: var(--black);
}

.features .accordion-item .accordion-header {
    pointer-events: auto;
    border-radius: 0px;
}

.features .accordion-button {
    background: var(--white);
    color: var(--black);
    border: none;
    box-shadow: none;
    outline: none;
    letter-spacing: 1px;
    transition: background 0.2s, color 0.2s;
}

.features .accordion-button:not(.collapsed) {
    background: var(--black);
    color: var(--white);
    outline: none;
}

.features .accordion-button:focus {
    outline: none;
}

.features .accordion-body {
    background: var(--white);
    font-family: monospace;
    font-size: 1.05rem;
    border-top: var(--border);
    border-radius: 0;
}

/*courses Section*/
.courses .course-filters {
    margin-bottom: 2rem;
    padding-bottom: 0.5rem;
    background: transparent;
}

.option-btn {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: var(--black);
    background: transparent;
    padding: 0.5rem 1.2rem;
    border-radius: var(--radius);
    transition: background 0.2s, color 0.2s;
    min-width: 90px;
    outline: none;
    cursor: pointer;
    pointer-events: auto;
    z-index: var(--layer_middle);
    border: var(--border);
}

.option-btn:hover {
    color: var(--white);
    background: var(--black);
    transition: background 0.2s, color 0.2s;
    border: var(--border);
    cursor: url('../GhostGlow-link.cur'), auto !important;
}

.courseDeck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin: 20px 0px 40px 0px;
}

.courseDeck .card {
    width: 270px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 260px;
    transition: all 0.3s ease;
    overflow: hidden;
    padding: 10px;
    pointer-events: auto;
    text-align: left;
    border: var(--hover-border-thick);
    border-radius: var(--radius);
    color: var(--black);
}

.courseDeck .card:hover {
    border: var(--border-thick);
    transform: translateY(-5px);
    transition: var(--transition);
    cursor: url('../GhostGlow-link.cur'), auto !important;
}

#instructors .courseDeck .card {
    width: 290px;
    height: 360px;
}

.courseDeck .card p {
    padding: 0;
    margin: 0;
}

.courseDeck .banner {
    position: absolute;
    top: -11px;
    right: -109px;
    background: orange;
    padding: 15px;
    width: 350px;
    text-align: center;
    transform: rotate(45deg);
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    overflow: hidden;
    transition: background 0.5s ease;
}

.courseDeck .banner-text {
    display: inline-block;
    transition: opacity 0.5s ease, transform 0.5s ease;
    width: 100%;
    position: absolute;
    left: 13%;
    top: 50%;
    transform: translateY(-50%);
}

.courseDeck .card:hover .banner-text:first-child {
    opacity: 0;
    transform: translateY(-100%);
}

.courseDeck .card:hover .banner-text:last-child {
    opacity: 1;
    transform: translateY(-40%);
}

.courseDeck .banner-text:last-child {
    opacity: 0;
    transform: translateY(60%);
}

.courseDeck .card:hover .banner {
    background: orange;
}

.courseDeck .card__subtitle {
    font-size: 14px;
    margin: 15px 0px 0px 0px !important;
}

.courseDeck .card__title {
    font-size: 15px;
    font-weight: 700;
    color: var(--black);
    text-transform: uppercase;
    display: block;
    border-bottom: 1px solid var(--black);
    margin-bottom: 5px;
    width: 220px;
}

.courseDeck .card_instructor,
.courseDeck .card_date,
.courseDeck .card_start {
    font-size: 14px;
}

.courseDeck .card_start {
    margin-top: 20px !important;
}

.course-card .fee {
    width: 100%;
    margin: 10px 0px !important;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    background-color: var(--shade-light);
}

.course-card .fee span {
    font-size: 20px;
    font-weight: 500;
}

/*instructors Section*/
.instructor-img {
    width: 140px;
    height: 140px;
    margin: 1rem auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 0 5px var(--white), 0 0 0 8px var(--black);
    transition: border-color 0.2s;
}

.instructor-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: filter 0.3s;
}

.course-card:hover .instructor-img img {
    filter: grayscale(0%);
    cursor: url('../GhostGlow-link.cur'), auto !important;
}

.course-card:hover .instructor-social a {
    background: var(--black);
    color: var(--white);
}

.instructor-name {
    font-weight: 700;
    transition: color 0.2s;
    text-align: center;
    font-family: 'IBM Plex Mono';
}

.instructor-dept {
    transition: color 0.2s;
    text-align: center;
    color: var(--gray);
    font-size: 16px;
    font-family: 'IBM Plex Mono';
}

.instructor-title {
    font-style: italic;
    transition: color 0.2s;
    text-align: center;
}

.instructor-social {
    margin: 15px 0px 10px 0px;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.instructor-social a {
    border: var(--border);
    color: var(--black);
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instructor-social a i {
    font-size: 20px;
}

.apply-image {
    width: 100%;
    filter: grayscale(100%);
    pointer-events: auto;
    transition: filter 0.2s;
}

.apply-image:hover {
    filter: grayscale(0%);
    transition: filter 0.2s;
    cursor: url('../GhostGlow-link.cur'), auto !important;
}

/*Feedback section*/
.retro-feedback-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.retro-feedback-left {
    flex: 1 1 300px;
}

.retro-feedback-title,
.retro-label {
    font-family: 'IBM Plex Mono';
    font-weight: 700;
    font-size: var(--sub-heading);
    margin: 0;
    text-align: left;
}

.retro-feedback-right {
    flex: 1 1 500px;
    display: flex;
    align-items: center;
    padding: 0rem 4rem;
    min-width: 600px;
}

.retro-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    text-align: center;
    gap: 10px;
    z-index: var(--layer_middle);
}

.retro-input,
.retro-textarea {
    width: 100%;
    padding: 0.7rem 1rem;
    border: var(--border);
    border-radius: 0;
    background: var(--white);
    box-shadow: var(--shadow);
    pointer-events: auto;
}

.retro-input:focus,
.retro-textarea:focus {
    background: #fafaf9;
    outline: none;
    transform: translateY(-3px);
    box-shadow: var(--hover-shadow);
    transition: .2s ease-in-out;
}

.retro-slider-row {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    margin-bottom: 0.2rem;
}

.retro-slider-label {
    font-size: 1rem;
    color: var(--black);
    font-weight: bold;
}

.retro-slider {
    flex: 1 1 auto;
    accent-color: var(--black);
    height: 2px;
    background: var(--white);
    border-radius: var(--radius);
    outline: none;
    margin: 0 0.5rem;
    pointer-events: auto;
    z-index: var(--layer_middle);
}

.retro-slider-scale {
    display: flex;
    justify-content: space-between;
    font-size: 0.95rem;
    color: var(--black);
    margin-bottom: 0.5rem;
}

/*Footer*/
footer {
    background: var(--black);
    color: var(--white) !important;
    position: relative;
    padding-top: 20px;
}

.footer-retro-container {
    position: relative;
    z-index: var(--layer_middle);
    background: var(--black);
    border-radius: 0 0 24px 24px;
    border-top: 8px solid var(--white);
    padding: 2rem 1rem 1rem 1rem;
}

.footer-logo {
    font-family: 'IBM Plex Mono';
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 2px 2px 0 var(--silver);
    margin-bottom: 0.5rem;
}

.footer-desc {
    margin-bottom: 0;
}

.footer-title {
    margin-bottom: 0.7rem;
    border-bottom: 1px solid var(--white);
    display: inline-block;
    padding-bottom: 0.2em;
    font-weight: 700;
}

.footer-des a,
.footer-des p {
    margin: 0;
    padding: 0;
}

.footer-links li {
    margin-bottom: 0.5em;
}

.footer-links a {
    color: var(--white);
    text-decoration: none;
    transition: color 0.2s, border 0.2s, background 0.2s;
    padding: 0.1em 0.3em;
}

.footer-links a:hover {
    color: var(--black);
    background: var(--white);
    cursor: url('../GhostGlow-link.cur'), auto !important;
}

.footer-social a {
    color: var(--white);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.3em;
    transition: background 0.2s, color 0.2s, border 0.2s, transform 0.2s;
}

.footer-social a:hover {
    background: var(--white);
    color: var(--black) !important;
    transform: scale(1.1) rotate(-360deg);
    cursor: url('../GhostGlow-link.cur'), auto !important;
}

.footer-social a i {
    font-size: 30px;
}

.footer-bottom {
    border-top: 1px dashed var(--white);
    padding-top: 1em;
}

.footer-bottom p {
    padding: 0px;
    margin: 0px;
}

input.red-placeholder::placeholder {
    color: rgba(255, 0, 0, 0.5) !important;
    opacity: 1;
}

/*responsiv*/
@media (max-width: 992px) {
    .instructor-card {
        padding: 1.5rem 0.5rem 1rem 0.5rem;
    }

    .retro-feedback-container {
        flex-direction: column;
        min-height: unset;
    }

    .retro-feedback-left,
    .retro-feedback-right {
        border-right: none;
        padding: 2rem 1rem;
        min-width: 0;
    }

    .retro-feedback-right {
        padding-top: 0;
    }

    .about-us .heading,
    .instructors .heading {
        margin-top: 20px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    #retro-alert-container {
        min-width: 75%;
    }

    .retro-alert {
        font-size: 12px;
    }

    section {
        padding: 30px 0;
    }

    .courses .container {
        width: 95% !important;
    }

    .carousel-caption {
        left: 8%;
        right: 8%;
    }

    .align-self-center {
        text-align: center;
    }

    .instructors {
        padding: 40px 0;
    }

    .instructors .courses-scroll {
        justify-content: flex-start;
    }

    .instructor-card {
        margin-bottom: 2rem;
        min-width: 220px;
        min-height: 330px;
        align-items: center;
        justify-content: center;
    }

    .footer-retro-container {
        border-radius: 0;
        padding: 1.5rem 0.5rem 0.5rem 0.5rem;
    }

    .footer-social a {
        width: 32px;
        height: 32px;
        font-size: 1.1rem;
    }
}

@media (max-width: 568px) {
    .retro-feedback-title {
        font-size: 1.2rem;
    }

    .retro-form {
        gap: 0.7rem;
    }

    .retro-btn {
        padding: 0.5rem 1.2rem;
        font-size: 1rem;
    }

    .instructor-card {
        padding: 1rem 0.25rem 0.75rem 0.25rem;
    }
}

@media (max-width: 426px) {
    #retro-alert-container {
        min-width: 95%;
    }

    .retro-alert {
        font-size: 11px;
        padding: 3px 7px;
    }

    .navbar-brand img {
        width: 120px;
    }

    .navbar .btn>div>span {
        padding: 8px 13px;
    }

    .navbar-toggler {
        padding: 0px;
    }

    .carousel-caption h1 {
        font-size: 25px;
    }

    .carousel-caption p {
        font-size: 15px;
    }

    .container.text-center h2 {
        font-size: 25px;
        letter-spacing: normal;
    }

    .features .accordion-header button {
        letter-spacing: 0px;
        text-transform: none;
    }

    .features .accordion-body {
        font-size: 13px;
    }

    .heading h2,
    .courses h5 {
        font-size: 25px !important;
        letter-spacing: 0px !important;
    }

    .heading p {
        font-size: 14px !important;
    }

    .courses .filterbtn {
        padding: 0px;
    }

    .courses .courses-scroll,
    .instructors .courses-scroll {
        justify-content: flex-start;
    }

    .courses .course-card {
        width: 290px;
        height: 280px;
    }

    .courses .card {
        padding: 15px;
        width: 100%;
        height: 100%;
    }

    .course-card .banner {
        padding: 10px;
        font-size: 13px;
    }

    .course-card .card__subtitle {
        width: 100%;
        margin: 0px;
    }

    .course-card .card__title {
        width: 100%;
        font-size: 15px;
        margin-right: 10px;
    }

    .card .card_instructor,
    .card .card_start,
    .card .card_date {
        width: 100%;
    }
}